{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% include 'mainapp/includes/menu.html' %}
{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $("a").each(function () {
            if (window.location.pathname.indexOf($(this).attr("href")) !== -1) {
                $(this).css("text-decoration", "underline");
            } else
                $(this).css("text-decoration", "none");
        });
    });
</script>
</body>
</html>